/* 
    Document   : css_catalogus
    Created on : Dec 11, 2013, 1:05:35 PM
    Author     : Robert
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}

img{
    width: 200px;
    height: 200px;
}

#para1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
}

#prijs{
    font-weight: bold;
}


#center{
    position:relative;
    margin-left: auto;
    margin-right: auto;
}