
.header_img {
    width: 100%;
    height: 15vh;
}
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav li {
    float: left;
}

.topnav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
}

.topnav li.dropdown {
    display: inline-block;
}

.topnav li.search {
    float:right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c1c1c1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #c1c1c1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #00e2ff
}

.dropdown:hover .dropdown-content {
    display: block;
}

.topnav input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
}
body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.ads li {
    display: inline;
    text-decoration: none;
}

.product_left  {
    width: 47%;
    float:left; 
}
.product_left img {
    width: 100%;
}

.product_right {
    float: right;
    margin-left: 3%;
    width: 50%;
}
.product_right i {
    font-size: 8px;
    font-weight: lighter;
}

.product_wrapper {
    overflow: hidden;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: left;
    margin-right: 5%;
    margin-bottom: 10px;
}
.card a {
    color: black;
    text-decoration: none;
}

.price {
    color: grey;
    font-size: 22px;
}

.price a {
    text-decoration: none;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.footer_wrapper {
    margin-top: 4%;
    float: left;
    width:100%;
    height:60px; 
    background: #333;
    color: white;
}

.sidenav {
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 35%;
    left: 10px;
    background: #333;
    overflow-x: hidden;
}

.sidenav a {
    padding: 1px 1px 1px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: gray;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.littleright {
    margin-left: 10%;
}