.itemnameproduct {
    text-align: center;
    margin-right: 40px;
}

.waarde {
    text-align: center;
}

.prijsproduct {
    text-align: center;
}

.removebutton {
    text-align: center;
}

.totaalprijs {
    text-align: center;
    margin-right: 2000px;
}

.sub {
    text-align: center;
}

.btw {
    text-align: center;
}

.verzend {
    text-align: center;
}

.winkelwagenbuttons {
    margin-left: 630px;
    margin-top: 40px;
}

.verder {
    white-space: normal;
}

button {
    outline: none !important;
    border: 1px solid !important;
    margin-left: 20px;
    box-shadow: 5px 10px #888888;
    border-radius: 0px;
}

button:hover {
    outline: none !important;
    border: 1px solid;
    margin-left: 20px;
    background-color: #00e2ff;
}

.prijzen {
    margin-left: 570px;
    margin-top: 10px;
}

