/* 
    Document   : css_catalogus
    Created on : Dec 11, 2013, 1:05:35 PM
    Author     : Robert
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}

img{
    width: 200px;
    height: 200px;
}

#para1{
    /*width: 300px;
    height: 200px;*/
    text-align: left;
}

#prijs{
    text-align: left;
    font-weight: bold;
}


#center{
    position:relative;
    left: 420px;
    width: 2000px;
    min-width: 200px;
}