html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 14px;
    line-height: 1.4;
}
.lt-ie8 body{
	font-size:14px;	
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none; 
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
	color:#FCD59C;
	text-decoration:none;
}
a:focus{
	outline:0;	
}
a.blend{
	color:#000;	
}
p {
	margin:0 0 15px;	
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
	font-family: 'GTWalsheim';
	src: url('/static/fonts/gtwalsheimregular.eot');
	src: url('/static/fonts/gtwalsheimregular.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/gtwalsheimregular.woff') format('woff'),
		 url('/static/fonts/gtwalsheimregular.ttf') format('truetype'),
		 url('/static/fonts/gtwalsheimregular.svg#gtwalsheimregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GTWalsheim-Bold';
	src: url('/static/fonts/gtwalsheimbold.eot');
	src: url('/static/fonts/gtwalsheimbold.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/gtwalsheimbold.woff') format('woff'),
		 url('/static/fonts/gtwalsheimbold.ttf') format('truetype'),
		 url('/static/fonts/gtwalsheimbold.svg#gtwalsheimbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
html{
	margin:0;
	padding:0;	
}
body {
	font-family:'GTWalsheim', Arial, Helvetica, sans-serif;
	letter-spacing:0.05em;
	color:#000;
	background:url(../Jamfactory_bestanden/background-secondary-layer.png);
	background-size:183.5px 92px;
	word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	margin-top:0;
}
strong, b{
	font-family:'GTWalsheim-Bold', Arial, Helvetica, sans-serif;
	font-weight:normal;
}
em{
	font-style:normal;	
}
/* ==========================================================================
   HEADER
   ========================================================================== */
body > header{
	height:50px;
	min-width:960px;
	text-align:center;
	position:relative;
	z-index:10000;
}
#logo {
	padding-top:30px;
}
nav#main{
	min-width:960px;
	background:#ffa800;
	height:50px;
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	width:100%;
}
.lt-ie8 nav#main{
}
nav#main ul{
	margin:0;
	padding:0;	
}
nav#main li, nav#main li a{
	font-size:12px;
	text-transform:uppercase;
	float:left;
	display:block;
	height:50px;
	line-height:50px;
	/*color:#b2b6bf;*/
	color:#fff;
	text-decoration:none;
}
nav#main li a{
	padding:0 12px;
	letter-spacing:1.8px;
	transition:all 200ms ease-in-out;
	-moz-transition:all 200ms ease-in-out;
	-o-transition:all 200ms ease-in-out;
	-ms-transition:all 200ms ease-in-out;
	-webkit-transition:all 200ms ease-in-out;
}
nav#main li.first{
	margin-left:0;	
}
nav#main li.first a{
	padding-left:0;
}
nav#main li.highlight a{
	background:#25c4d3;
	color:#fff;
	transition:background-color 200ms ease-out 0s;
	-webkit-transition:background-color 200ms ease-out 0s;
	-moz-transition:background-color 200ms ease-out 0s;
	-o-transition:background-color 200ms ease-out 0s;	
	-ms-transition:background-color 200ms ease-out 0s;
}
nav#main li.highlight.active a{
	background:none;	
}
nav#main li a:hover, nav#main li.active a{
	color:#000
}
nav#main li.first a:hover{
	margin-left:0;	
}
nav#main li.highlight a:hover{
	background:#2cd2db;	
	border:none;	
}
nav#main li.tel{
	padding:0 10px 0 25px;
	background:url(../img/layout/icon-tel.svg) left 16px no-repeat;
}
.no-svg nav#main li.tel{
	background:url(../img/layout/icon-tel.png) left 16px no-repeat;
}
nav#main li.home-item{
	display:none;	
}
nav#main #main-nav{
	float:left;
	margin-left:20px;
}
nav#main #secondary-nav{
	float:right;
	margin-right:15px;
}


.lt-ie9 nav#main #secondary-nav{
	position:absolute;
	right:0;
	top:0;
}
nav#main #secondary-nav li a, nav#main #secondary-nav li{
	float:inherit;
	text-align:left;
}
/* TOP */

#to-top{
	position:fixed;
	background:#00020F;
	font-size:10px;
	padding:10px;
	bottom:-40px;
	visibility:hidden;
	right:10px;
	color:#fff;
	z-index:2000;
	border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	text-transform:uppercase;
	transition:all 200ms ease-out;
	-moz-transition:all 200ms ease-out;
	-ms-transition:all 200ms ease-out;
	-o-transition:all 200ms ease-out;
	-webkit-transition:all 200ms ease-out;
}
#to-top:hover{
	background:#000;
}
#to-top.show{
	bottom:0;
	visibility:visible;
}
.no-svg #to-top{
	display:none;	
}
.lt-ie9 #to-top, .output{
	display:none;	
}
/* ==========================================================================
   CONTENT
   ========================================================================== */
#content {
	background:#fff;	
}
h1 {
	text-transform:uppercase;
	font-size:36px;	
	letter-spacing:0.06em;
}
article h1{
	padding-top:40px;
	margin-bottom:30px;
}
.hr{
	height:40px;
}
.hr.swords{background:url(../Jamfactory_bestanden/article-divider-swords.svg) bottom center no-repeat;}
.hr.shield{background:url(../Jamfactory_bestanden/article-divider-shield.svg) bottom center no-repeat;}
.hr.crown{background:url(../Jamfactory_bestanden/article-divider-crown.svg) bottom center no-repeat;}
.no-svg .hr.swords{background:url(../Jamfactory_bestanden/article-divider-swords.png) bottom center no-repeat;}
.no-svg .hr.shield{background:url(../Jamfactory_bestanden/article-divider-shield.png) bottom center no-repeat;}
.no-svg .hr.crown{background:url(../Jamfactory_bestanden/article-divider-crown.png) bottom center no-repeat;}
.boxed h1{
	padding-top:0;	
}
h2 {
	font-size:34px;	
}
h2.small{
	font-size:16px;
	text-transform:uppercase;	
}
p.highlight{
	background:#25c4d3;
	color:#fff;
	padding:10px;
	margin:0 10px;	
	webkit-border-radius:3px;
	border-radius:3px;
}
.button{
	color:#fff;
	background:#FFC469;
	webkit-border-radius:5px;
	border-radius:5px;
	padding:10px 30px 9px;
	font-size:14px;
	margin:0 10px;
	text-transform:uppercase;
	font-family:'GTWalsheim', Arial, Helvetica, sans-serif;
	letter-spacing:0.08em;
	display:inline-block;
	text-align:center;

	text-shadow: 0px 1px 0px #FFC469;
    /*filter: dropshadow(color=#3a9393, offx=0, offy=1);*/
	border-bottom:2px solid #FFC469;
	
	transition:background-color 200ms ease-out 0s;
	-webkit-transition:background-color 200ms ease-out 0s;
	-moz-transition:background-color 200ms ease-out 0s;
	-o-transition:background-color 200ms ease-out 0s;	
	-ms-transition:background-color 200ms ease-out 0s;
}
.button:hover{
	color:#fff;
	background:#FFA824;
}
.home .button:active{
	border-bottom:0;
	border-top:2px solid #FFC469;
	padding:10px 30px 9px;
}
.button.nav, input[type='submit'].nav{
	text-shadow: 0px 1px 0px #1d2049;
	border-bottom-color:#1d2049;	
	background:#30326c;
	color:#fff;
}
.button.nav:hover, input[type='submit'].nav:hover{
	background:#151b44;
	border-bottom-color:#0e132d;
	text-shadow: 0px 1px 0px #0e132d;
}
.home .button.nav:active, input[type='submit'].nav:active{
	border-top-color:#1d2049;
}
.button.large{
	font-size:18px;	
	padding:14px 20px 12px;
}
.button.wide{
	width: 310px;
	margin: 10px auto;
	max-width: 100%;
	padding: 10px 0;
}
.home .button.large:active{
	padding:14px 20px 12px;	
}
.button.facebook{
	background:#365c98;
	text-shadow:none;
	max-width:200px;
	border-bottom-color:#2d5484;	
}
.button.facebook:hover{
	background:#476aa1;	
}
.button.secondary{
	background:#94cddc;
}
.button.black, input[type='submit'].black{
	background:#000;
	text-shadow: 0px 1px 0px #222;
	border-bottom-color:#222;	
}
.button.black:hover, input[type='submit'].black:hover{
	background:#444;	
}
.button.black:active, input[type='submit'].black:active{
	border-top-color:#222;
}
.button.inactive{
	background:#d3d3d3;	
	border-bottom-color:#ccc;
	text-shadow: 0px 1px 0px #ccc;
}
a.slide-link{
	cursor:e-resize;
}
hgroup{
	margin-bottom:50px;	
}
hgroup h1, hgroup h2{
	margin-bottom:10px;	
}
hgroup h2{
	text-transform:none;
	font-size:20px;	
}
a:hover{
	text-decoration:underline;	
}
a.button:hover{
	text-decoration:none;
}
#content > article{
	text-align:center;	
	position:relative;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	padding:0 0 50px;
}
.home #content > article{
	padding:0;
}
#content > article.xl{
	min-height:750px;	
}
#content > article.main{	
	position:relative;
}
.first-letter{
	font-size:36px;	
	text-transform:uppercase;
}
.call-to-action{
	display:inline-block;
	text-align:center;
	margin:0 auto 20px;
}
.call-to-action .button{
	float:left;	
}
.lt-ie9 .call-to-action .button{
	float:none;
	display:inline-block;
}
.summary{
	max-width:960px;
	font-size:18px;
	margin:0 auto 30px;	
}
p.subtle{
	color:#666;
	margin:10px 0;
	font-size:12px;
	text-transform:uppercase;	
}
.blend{
	color:#666;	
}
p.big{
	font-size:20px;
}
#content .container{
	width:980px;
	padding:0;	
	margin:50px auto 40px;
}
.one-half{
	width:48%;
	margin-left:4%;
	padding:0;
	float:left;
}
.one-third{
	width:32%;
	margin-left:2%;
	float:left;
	padding:0;
}
.two-third{
	width:66%;
	margin-left:2%;
	float:left;	
}
.lt-ie8 .one-third{
	width:31%;	
}
.one-half.first, .one-third.first. two-third.first{
	margin-left:0;	
}
.one-fourth, .two-fourth{
	width:22.75%;
	float:left;
	padding:0;
	margin-left:3%;
	min-width:160px;
}
.two-fourth{
	width:48.5%;
	min-width:320px;	
}
/* GENERAL CLASSES */
.left-align{text-align:left;}
.right-align{text-align:right;}
.center-align{text-align:center;}
.right{float:right;}
.float-left{float:left}
.no-margin{margin:0;}
.margin10{margin:10px 0;}
.margin20{margin:20px 0;}
.middle-align{padding-top:10%;}
.low-middle-align{padding-top:40%;}
.uppercase{text-transform:uppercase;!important}

img.beard{
	margin:0 0 20px;	
}
.image-matrix a{
	margin-bottom:20px;
	margin-left:20px;
	float:left;
	position:relative;
	overflow:hidden;	
}
.image-matrix a.first{
	margin-left:0;	
}
.image-matrix .one-half{
	width:480px;
	margin:0 0 0 20px;
}
.image-matrix .one-half.first{
	margin-left:0;
}
.image-matrix .overlay{
	background:rgba(0, 2, 15, 0.5);
	position:absolute;
	width:120%;
	height:140%;
	top:-15%;
	left:-131%;
	transition:all 400ms ease;
	-ms-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
	-webkit-transition:all 400ms ease;
	-o-transition:all 400ms ease;
	transform:rotate(5deg);	
	-ms-transform:rotate(5deg);	
	-o-transform:rotate(5deg);	
	-webkit-transform:rotate(5deg);	
	-moz-transform:rotate(5deg);	
}
.image-matrix .title{
	position: absolute;
	color: #fff;
	height: 210px;
	width: 223px;
	margin: 8px;
	top: 205px;
	left: 19px;
	display: table;
	border: 2px solid #fff;
	text-transform: uppercase;
	opacity: 0;
	transition: all 200ms ease-in 200ms;
	-ms-transition: all 200ms ease-in 200ms;
	-moz-transition: all 200ms ease-in 200ms;
	-webkit-transition: all 200ms ease-in 200ms;
	-o-transition: all 200ms ease-in 200ms;
}
.image-matrix .wide .title{
	width:460px;	
}
.image-matrix .long .title{
	height: 242px;
}
.image-matrix .title span{
	display:table-cell;
	vertical-align:middle;
	padding:10px;
}
.image-matrix a:hover .title, .image-matrix a.show .title{
	left:0;
	opacity:1;	
}
.image-matrix a:hover .overlay, .image-matrix a.show .overlay{
	left:-10%;
}
.lt-ie9 .image-matrix .overlay, .lt-ie9 .image-matrix .title, .no-svg .image-matrix .overlay, .no-svg .image-matrix .title, {
	display:none;
}
/* TEXT SIZES */
.small{font-size:14px;}
.smaller{font-size:12px;}
.smallest{font-size:10px;}
.foot-note{
	font-size:12px;	
	line-height:130%;
}
.home #content h3 {
	font-size:16px;
	height:40px;
	line-height:130%;
	text-transform:uppercase;
	font-family:'GTWalsheim-Bold', Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.framed{
	border:2px solid #000;
	padding:20px;
	-webkit-border-radius:5px;
	border-radius:5px;	
}
.teller{
	display:inline-block;
	margin:0 0 10px;
	padding:0;
	font-size:20px;
	line-height:normal;
	font-family:'GTWalsheim-Bold', Arial, Helvetica, sans-serif;
}
.teller span{
	padding:5px 12px;
	border:2px solid #000;
	max-width:14px;
	width:14px;
	border-left:0;
	display:inline-block;
}
.teller span.first{
	border-left:2px solid #000;	
}
/* ------------------- HOMEPAGE ----------------- */
.home #content #home{
	color:#fff;
	min-height:550px;
	background:url(../Jamfactory_bestanden/jambanner.jpg) center bottom no-repeat;
	font-size:24px;
	line-height:130%;
	margin:0;
	letter-spacing:0;
	overflow:visible;
	position:relative;
}
#home .button {
	margin-top:50px;
}
#home .button:hover{
	cursor:s-resize;	
}
#home hgroup{
	padding-top:40px;
	margin-bottom:20px;	
}
#home h1{
	padding:0;
	font-size:22px;
	font-family:'GTWalsheim-Bold', Arial, Helvetica, sans-serif;
	line-height:100%;
}
#home hgroup h2{
	font-family:'GTWalsheim-Bold', Arial, Helvetica, sans-serif;	
	line-height:normal;
	margin-bottom:15px;
}
#home .intro{
	position:absolute;
	bottom:45px;
	left:50%;
	margin-left:-45%;
	font-size:18px;
	text-align:center;
	width:70%;
	padding:0 10%;	
}
#home .scroll{
	position:absolute;
	height:40px;
	width:40px;
	left:50%;
	bottom:-20px;
	margin-left:-20px;
	overflow:hidden;
	line-height:100px;
	background:url(../Jamfactory_bestanden/button-home-arrow-down.svg) no-repeat 8px 11px #FFC469;
	border-radius:20px;
	-webkit-border-radius:20px;	
	z-index:20;
}
#home .scroll:hover{
	background:url(../Jamfactory_bestanden/button-home-arrow-down.svg) no-repeat 8px 11px #FFA824;
}
.no-svg #home .scroll{
	background:url(../Jamfactory_bestanden/button-home-arrow-down.png) no-repeat top left;
	bottom:5px;
}

.the-price:hover{
	background-position:0 -110px;
}
.the-price a{
	display:block;
	width:111px;
	height:112px;
}
/* ------------------- OUR STORY ----------------- */
#our-story img{
	margin-bottom:20px;
}
#our-story .shield-swords{
	position:relative;
	height:200px;
}
#our-story .the-sword-left, #our-story .the-sword-right{
	position:absolute;
	top:110px;
	left:50%;
	margin-left:-51px;
}
#founders .container{
	margin-top:0;
}
.founder-avatar{
	width:225px;
	height:225px;
	margin:0 auto 20px;
}
.crown{
	margin:0 0 30px;	
}

#cutting-costs .one-third img{
	margin:20px 0;
}

#content #Jam .primary-layer{
	position:relative;
}
#Jam h2{
	font-size:30px;
	text-transform:none;
	line-height:130%;	
}
.home #Jam .one-fourth img{
	max-width:100%;
}
/* ------------------- REVIEWS ----------------- */
#Reviews .crown, .review-widget .crown{
	margin-bottom:10px;	
}
#Reviews h2, .product-page #content .review-widget h2{
	text-transform:uppercase;
	font-size:11px;
	margin-bottom:25px;
	font-family: 'GTWalsheim-Bold';	
}
.review-content{
	background:url(../img/review-quote.svg) no-repeat;
	padding-left:20px;
	margin-top:30px;
	font-size:16px;	
}
.no-svg .review-content{
	background:url(../img/review-quote.png) no-repeat;
}
.single-checkout .review-content{
	background:url(../img/review-quote-grey.svg) no-repeat;
	font-size:12px;
}
.no-svg .single-checkout .review-content{
	background:url(../img/review-quote-grey.png) no-repeat;
}
.avatar{
	border:3px solid #fff;
	width:100px;
	height:100px;
	border-radius:56px;
	-webkit-border-radius:56px;
	float:left;
	margin:0 40px 20px 0	
}
.product-page .image-matrix{
	margin-top:50px;	
}
.product-page .hr{
	margin-top:30px;	
}
.review-widget{
	display:inline-block;
}
.review-meta{
	float:left;
	width:150px;	
}
.review-widget .review-content{
	float:left;
	width:240px;	
}
.single-checkout .review-widget .review-meta{
	width: 120px;
	padding-top: 15px;	
}

#Thuis .one-fourth .icon{
	margin-bottom:20px;	
}
#Thuis .one-fourth .icon{
	margin-bottom:20px;
}
#Thuis .one-fourth p{
	text-align:left;
	font-size:13px;	
}

#Jamfactory{
	background:#ee;	
}


#issues-solutions, #issues-solutions .primary-layer{
	background:#e5e5e5;	
}
#issues-solutions .one-third{
	display:inline-block;
	width:280px;
	height:280px;
	padding:0;
	margin:0 0 20px 20px;
	border:3px solid #00020F;
	background:#00020F;
	overflow:hidden;
	position:relative;
	border:none;
}
#issues-solutions .one-third .number{
	display:none;	
}

#issues-solutions .one-third p span{
	display:table-cell;
	vertical-align:middle;
}
#issues-solutions .one-third .solution-container{
	display:block;
	margin-top:-599px;
	transition:all 600ms ease-in-out;
	-moz-transition:all 600ms ease-in-out;
	-o-transition:all 600ms ease-in-out;
	-webkit-transition:all 600ms ease-in-out;
	-ms-transition:all 600ms ease-in-out;
}
#issues-solutions img{
	margin-top:-30px;	
}
#issues-solutions .one-third p.issue{
	color:#fff;
	margin-top:-36px;
	background:#00020F;
}
.lt-ie9 #issues-solutions .one-third p.issue{
	padding-top:120px;
}

.price-structure-container{
	margin:20px 0 -20px;
}
.price-structure{
	height:2px;
	background:#000;
	margin:20px 0 120px;
	padding:0;
	text-align:left;	
}
.price-structure li{
	display:inline-table;
	height:106px;
	width:96px;
	padding:0 5px;
	border:2px solid #000;
	margin:-54px 0 0 28px;
	vertical-align:middle;
	-webkit-border-radius:60px;
	border-radius:60px;
	text-align:center;
	background:#fff;
	float:left;
	letter-spacing:normal;
	font-size:13px;
	line-height:120%;
	transition:background-color 500ms ease-out, border 200ms ease-out, font-size 500ms ease-in-out;
	-o-transition:background-color 500ms ease-out, border 200ms ease-out, font-size 500ms ease-in-out;
	-ms-transition:background-color 500ms ease-out, border 200ms ease-out, font-size 500ms ease-in-out;
	-moz-transition:background-color 500ms ease-out, border 200ms ease-out, font-size 500ms ease-in-out;
	-webkit-transition:background-color 500ms ease-out, border 200ms ease-out, font-size 500ms ease-in-out;
}
.lt-ie9 .price-structure li{
	border:none;
	width:100px;
	height:75px;
	padding-top:35px;
	background:url(../img/ie-price-structure-ring.png) no-repeat #fff;	
}
.price-structure li.first{
	margin-left:0;
	border:none;	
}
.lt-ie9 .price-structure li.first{
	background:#fff;
	height:85px;
	padding-top:25px;	
}
.price-structure li span{
	display:table-cell;
	vertical-align:middle;
	overflow:hidden;
}
.price-structure li.price{
	background:#000;
	color:#fff;
	float:right;
	font-size:20px;
	border:0;
	height:110px;
	width:100px;
	transition:all 200ms ease-out;
	-webkit-transition:all 200ms ease-out;
	-moz-transition:all 200ms ease-out;
	-o-transition:all 200ms ease-out;
	-ms-transition:all 200ms ease-out;
}
.lt-ie9 .price-structure li.price{
	border:none;
	width:100px;
	height:68px;
	padding-top:42px;
	background:url(../img/ie-price-structure-ring.png) no-repeat #000;	
}
.price-structure li.price.finished{
	background:#FFC469;
	border:none;
	height:110px;
	width:100px;
}
.lt-ie9 .price-structure li.price.finished{
	height:68px;
	background:url(../img/ie-price-structure-ring.png) no-repeat #25c4d3;
}
.price-structure li.price a{
	display:table-cell;
	vertical-align:middle;
	color:#fff;
	text-decoration:none;
	height:100px;
	width:100px;	
}
#content .price-structure li.price a:hover{
	text-decoration:none;
}
.price-structure.two li.price:hover{
	background:#FFA824;
}
.lt-ie9 .price-structure.two li.price:hover{
	background:url(../img/ie-price-structure-ring.png) no-repeat #2cd2db;
}

.home #content > article#try{
	background:url(../img/layout/gradient-background.png) repeat-y #f2f1f2;
	padding:100px 0;
	margin:50px 0;	
}

#try p{
	margin-bottom:50px;	
}
/* ------------------- CONTACT ----------------- */
#contact .one-half.first{
	padding-top:20px;	
}
#contact .one-half.boxed{
	background:#fff;
	text-align:center;
	color:#444;
	
	-webkit-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:  -3px 0px 12px -3px rgba(0, 0, 0, 0.1);
    box-shadow:  -3px 0px 12px -3px rgba(0, 0, 0, 0.1);
}
#contact h2{
	font-size:24px;
	text-transform:uppercase;
}
#contact .boxed h2{
	text-transform:none;	
}
#contact-form{
	margin:40px 0 20px;	
}
#contact input[type=text], #contact input[type=email], #contact input[type=password], #contact textarea{ 
	width:74%;
	padding:0 3%;	
	max-height:250px;
	float:none;
	max-width:300px;
}
#contact textarea{
	padding-top:10px;
	resize:none;
	height:100px;	
}
#contact .map{
	max-width:300px;
	margin-bottom:20px;
	border:1px solid #ccc;
	
	border-radius:			5px;
	-webkit-border-radius: 	5px;	
}

.faq-list{
	list-style:none;
	margin:0 2	0px;
	padding:0 10px;
	text-align:left;	
}
.faq-list li > h3{
	background:url(../img/layout/icon-faq-arrow-right.png) 0 5px no-repeat;
	padding-left:30px;
	font-size:25px;
	margin:10px 0;
	cursor:pointer;
	text-transform:uppercase;
}
.faq-list dl{
	margin:0 0 0 30px;	
}
.faq-list dt{
	font-size:24px;
	cursor:pointer;	
}
.faq-list dt:hover{
	text-decoration:underline;	
}
.faq-list dd{
	font-size:16px;
	letter-spacing:normal;
	margin:0 0 10px;
}
.terms-list{
	margin:0 20px;
	padding:0;
	text-align:left;	
}
.terms-list ol{
	font-size:13px;	
}

#content .accordion {
	list-style:none;
	margin-top:20px;
}
.accordion li > .label{
	display:block;
	background:#fff;
	text-align:left;
	min-height:64px;
	border-radius:32px;
	-webkit-border-radius:32px;
	padding:0 12px;
	color:#999;
	font-size:14px;
	margin-bottom:10px;
	cursor:pointer;
}
.accordion li.active > .label{
	color:#000;
	cursor:default;
	
}
.accordion li > .label .number{
	display:inline-block;
	margin:12px 10px 0 0;
	width:36px;
	height:36px;
	line-height:36px;
	text-align:center;
	border:2px solid #b3b3b3;
	border-radius:25px;
	-webkit-border-radius:25px;
	transition:all ease-out 200ms;
	-mox-transition:all ease-out 200ms;
	-webit-transition:all ease-out 200ms;
	-ms-transition:all ease-out 200ms;
	-o-transition:all ease-out 200ms;
}
.accordion li > .label.chosen .choice{
	color: #666;
	float: right;
	padding: 5px 35px 5px 0;
	margin: 18px 5px 12px 0;
	background: url(../img/layout/icon-ok.svg) right 2px no-repeat;
}
.accordion li.active > .label .number{
	background:#000;
	color:#fff;
	border-color:#000;	
}
.accordion-container{
	background:none;	
}
.accordion .choose-plan-heading{
	margin-top:20px;	
}

#content .single-checkout{
	letter-spacing:normal;	
}
.single-checkout input[type='text'], .single-checkout input[type='email'], .single-checkout input[type='password'], .select-box-container{
	width:280px;
}
.single-checkout .or{
	position:absolute;
	text-transform:uppercase;
	left:50%;
	width:40px;
	margin-left:-20px;
	margin-top:90px;
	font-size:12px;	
}
.single-checkout .facebook{
	margin-top:80px;
	margin-bottom:10px;	
}
#content .single-checkout .container{
	margin:20px auto;	
}
.scroll-holder{
	position:fixed;
	width:10px;
	height:10px;
	top:0;
	left:0;
}
.single-checkout #step3 .accordion-container{
	text-align:left;
}
#content .single-checkout #step3 .container{
	max-width:940px;	
}
.total{
	text-align: right;
	font-size: 30px;
	line-height: 40px;
	padding-top: 10px;
	margin-bottom:20px;	
}
.more-info-box{
	color:#000;
	font-size:14px;
}	
.more-info-box h3{
	text-transform:uppercase;	
}
.more-info-box .the-content{
	padding-top:30px;	
}
.more-info-box .the-content ul{
	margin:0;
	padding:0 0 0 30px;	
}
.more-info-box .the-content ul li{
	margin-bottom:15px;	
}
.more-info-box .the-content .button{
	margin-top:30px;	
}
.more-info-box .slides-viewport{
	overflow:hidden;	
}
/* ==========================================================================
   SECONDARY LAYER
   ========================================================================== */
.slides-container{
	width:100%;
	transition:margin-left 500ms ease-out;
	-webkit-transition:margin-left 500ms ease-out;
	-moz-transition:margin-left 500ms ease-out;
	-o-transition:margin-left 500ms ease-out;	
	-ms-transition:margin-left 500ms ease-out;
}
/* ==========================================================================
   SLIDESHOW
============================================================================= */
.slides-viewport {
	width:100%;
	position:relative;
}
.slides-container{
	width:100%;	
}
.slide{
	position:relative;
	width:100%;
	float:left;
}
.slides-container.two-slides{
	width:200%;	
}
.two-slides .slide{
	width:50%;
}
.slides-container.three-slides{
	width:300%;	
}
.three-slides .slide{
	width:33.333%;	
}
.slides-container.four-slides{
	width:400%;	
}
.four-slides .slide{
	width:25%;	
}
.slides-container.five-slides{
	width:500%;	
}
.five-slides .slide{
	width:20%;	
}
.slides-container.six-slides{
	width:600%;	
}
.six-slides .slide{
	width:16.6667%;
}
/*----- Next back ----- */
.previous-slide, .next-slide{
	background:url(../img/layout/icon-arrow-left.svg) center 0 no-repeat;
	display:block;
	width:28px;
	height:35px;
	position:absolute;
	top:50%;
	margin-top:-13px;
	left:20px;
	z-index:500;
	cursor:w-resize;
}
.no-svg .previous-slide, .next-slide{
	background:url(../img/layout/icon-arrow-left.png) center 0 no-repeat;
}
.next-slide{
	left:auto;
	right:20px;
	background:url(../img/layout/icon-arrow-right.svg) center 0 no-repeat;
	cursor:e-resize;
}
.no-svg .next-slide{
	background:url(../img/layout/icon-arrow-right.png) center 0 no-repeat;
}
/*----- Bullet controls ----- */
.bullet-controls{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left:-120px;
	height:30px;
	width:240px;
	text-align:center;
	letter-spacing:0px;	
}
.bullet-controls li{
	display:inline-block;
	height:8px;
	width:8px;
	border:2px solid #fff;
	-webkit-border-radius:6px;
	border-radius:6px;
	cursor:pointer;
	margin-left:15px;
	position:relative;
}
.lt-ie8 .bullet-controls li{
	display:inline;	
}
.lt-ie9 .bullet-controls li{
	border:none;
	height:12px;
	width:12px;
	background:url(../img/ie-bullet-control.png) no-repeat top;
}
.bullet-controls li.first{
	margin-left:0;	
}
.bullet-controls li.active, .bullet-controls li:hover{
	background:#666;	
}
.lt-ie9 .bullet-controls li.active, .lt-ie9 .bullet-controls li:hover{
	background:url(../img/ie-bullet-control.png) no-repeat bottom;	
}
.bullet-controls.dark li{
	border-color:#666;	
}
.bullet-controls li span{
	transition:visibility 200ms linear, top 200ms ease-out, opacity 150ms ease-out;
	-moz-transition:visibility 200ms linear, top 200ms ease-out, opacity 150ms ease-out;
	-ms-transition:visibility 200ms linear, top 200ms ease-out, opacity 150ms ease-out;
	-webkit-transition:visibility 400ms linear, top 200ms ease-out, opacity 150ms ease-out;
	-o-transition:visibility 200ms linear, top 200ms ease-out, opacity 150ms ease-out;
	position:absolute;
	display:block;
	top: -70px;
	width:200px;
	left:-118px;
	text-align:center;
	background:#fff;	
	-webkit-border-radius:5px;
	border-radius:5px;
	font-size:11px;
	text-transform:uppercase;
	color:#666;
	visibility:hidden;
	opacity:0;
	border:2px solid #000;
	padding:10px 20px;
	cursor:default;
}
.bullet-controls li span:after{
	content:"";
	position:absolute;
	bottom:-7px;
	left:50%;
	margin-left:-6px;
	display:block;
	background:#fff;
	width:8px;
	height:8px;
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	border-right:2px solid #000;
	border-bottom:2px solid #000;	
}
.lt-ie10 .bullet-controls li span:after{
	bottom:-6px;
}
.bullet-controls li:hover span{
	visibility:visible;
	opacity:1;
	top:-60px;
}
.bullet-controls li span:hover{
	visibility:none;
	opacity:0;
	top:-70px;	
}
/* ==========================================================================
   PRODUCT
   ========================================================================== */
.product-page {
	font-size:16px;
	margin-top:0;
}
.product-page #content{
	background:#ececec;	
}
.product-page h1{
	margin:0;
	padding:20px 0;	
}

.product-page .redeem-gift h1{
	padding:40px 0 20px;
}
.product-page.choose-plan .container{
	margin:50px auto 0;
}
.product-page.choose-plan .container.extra{
	margin-top:20px;
	color:#000;
	font-size:12px;
	text-transform:uppercase;
}
.product-page #content h2{
	font-size:18px;
	margin:3px 0 30px;	
	font-family:'GTWalsheim', Arial, Helvetica, sans-serif;
}
.product-page #content h2.no-margin{
	margin:0;	
}
.checkout #terms{
	margin-bottom:0;	
}
.product-page h3{
	font-size:18px;
	text-transform:none;
	margin:0 0 30px;
}
.product-page .option{
	border:2px solid #c2c2c2;
	padding:10px 15px;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	position:relative;
	margin:0 0 10px;
}
.product-page .option .beard{
	margin:20px 0;
}
.product-page .option h2{
	margin:0;	
}
.prijs{
	background:#000;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#fff;
	padding:10px;
	font-size:14px;	
	line-height:130%;
}
.product-page .het-mes{
	position:relative;
}
.product-page .option:hover, .product-page .option.hover{
	border:2px solid #000;
}
.product-page .option .overlay{
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:1;
}
.product-page.choose-plan .call-to-action{
	background:#25c4d3;
	display:block;
	color:#fff;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align:center;
	margin:10px 0;
	height:40px;
	line-height:40px;
	
	text-shadow: 0px 1px 0px #3a9393;
    /*filter: dropshadow(color=#3a9393, offx=0, offy=1);*/
	border-bottom:2px solid #3a9393;
}
.product-page.choose-plan #content  a.call-to-action:hover, .product-page.choose-plan #content  a.call-to-action.hover{
	background:#2cd2db;
	text-decoration:none;
}
h1.choose-plan-heading{
	position:relative;
	z-index:200;
	background:#ececec;
	display:inline-block;
	padding:0 20px;
}
h1.cancel-any-time:before{
	content:'';
	width:110px;
	height:110px;
	position:absolute;
	top:-55px;
	right:-110px;
	background:url(../img/cancel-at-any-time@2x.png) no-repeat;
	background-size:110px 110px;	
}
.nl h1.cancel-any-time:before{
	background:url(../img/247opzegbaar@2x.png) no-repeat;	
	background-size:110px 110px;	
}
.se h1.cancel-any-time:before{
	background:url(../img/cancel-at-any-time-sv@2x.png) no-repeat;	
	background-size:110px 110px;	
}
div.choose-plan-heading{
	content:'';
	display:block;
	border:2px solid #ddd;
	width:640px;
	left:50%;
	margin-left:-320px;
	height:60px;
	border-bottom:none;
	position:absolute;
	top:110px;
	z-index:-10;
	border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;		
}
.lt-ie8 div.choose-plan-heading{
	display:none;	
}
.product-page .extra-info{
	width:82%;
	padding:21px;
	margin:20px auto;
	border:2px solid #000;
	
	-webkit-border-radius:5px;
	border-radius:5px;
	
	font-family:'GTWalsheim-Bold', Arial, Helvetica, sans-serif;
	font-size:16px;
}
.product-page .het-mes .mes-info{
	position:absolute;
	z-index:10;
	top:130px;
	left:50%;
	margin-left:-20px;	
}
.info-box{postion:relative;}
.info-box:hover p{display:block}
.info-box span{
	display:block;
	width:38px;
	padding-left:2px;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#fff;
	background:#000;
	border-radius:20px;
	-webkit-border-radius:20px;
	font-size:20px;
	cursor:pointer;
	
	-webkit-box-shadow:-3px 0px 6px 0px rgba(0, 0, 0, 0.01);
    box-shadow:-3px 0px 6px 0px rgba(0, 0, 0, 0.01);
	
}
.lt-ie9 .info-box span{
	background:url(../img/layout/step-o-meter-background.png) no-repeat;
	margin-left:-5px;
	width:40px;
}
.info-box p{
	position:absolute;
	bottom:50px;
	width:280px;
	margin:0;
	left:50%;
	margin-left:-160px;
	background:#000;
	color:#fff;
	padding:20px;
	
	z-index:3000;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:-3px 0px 6px 0px rgba(0, 0, 0, 0.01);
    box-shadow:-3px 0px 6px 0px rgba(0, 0, 0, 0.01);
	display:none;
}
.free-handle{
	background:url(../img/layout/free-handle-included-bg.svg) bottom no-repeat;
	color:#fff;
	width:300px;
	height:62px;
	line-height:75px;
	text-transform:uppercase;
	font-size:14px;
	position:absolute;
	top:190px;
}
.no-svg .free-handle{
	background:#aaa;
	color:#fff;
	width:250px;
	height:30px;
	line-height:30px;
	text-transform:uppercase;
	font-size:14px;
	position:absolute;
	top:190px;
	left:50%;
	margin-left:-125px;
}
.prijs-overzicht{
	width:100%;
	margin:20px auto;
	display:table;
}
.prijs-overzicht div{
	background:#000;
	color:#fff;
	font-size:14px;
	text-align:left;
	display:table-cell;
	vertical-align:middle;
	height:55px;
	padding-top:5px;
}
.prijs-overzicht .label{
	width:70%;
	padding-left:20px;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	line-height:90%;
	border-right:2px solid #f2f2f2;
}
.prijs-overzicht .label p{
	margin:0 0 2px;
	padding:0;
}
.prijs-overzicht .label p.foot-note{
	font-size:13px;
}
.prijs-overzicht .prijs{
	width:30%;
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
	padding-bottom:3px;
	font-size:24px;
	text-align:center;
}
.pay-off{
	text-align:left;
	width:320px;
	margin:40px auto;	
}
.product-page .prijs-overzicht{
	margin:10px 0 0;
}
.gift-card{
	color:#000;
	text-align:left;
	margin-bottom:40px;
}
.gift-card:hover{
	cursor:pointer;	
}
.gift-card p{
	margin:0;
	font-size:10px;	
}
.gift-card .value{
	font-size:36px;
	float:left;
	margin-right:20px;
	line-height:100%;
	overflow:hidden;
}
.gift-card p strong{
	font-size:14px;	
}
.gift-card .button {
	float:right;
	padding-left:14px;
	padding-right:13px;	
}
#personal-message textarea{
	width:460px;
	max-width:460px;
	min-height:75px;	
}
.product-page h2.direct-checkout{
	margin-top:43px;	
}
.redeem-gift-card input[type=text]{
	width:50%;
	display:inline-block;
}
input[type='submit'].dont-add-message{
	margin-top:28px;	
}
/* ------------------- SIGN UP ----------------- */

.boxed{
	background:#fff;
	margin-top:20px;
	padding:40px 0;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:  3px 0px 6px 0px rgba(0, 0, 0, 0.01);
    box-shadow:  3px 0px 6px 0px rgba(0, 0, 0, 0.01);
}
#login .boxed h1{
	margin-left: 20px;
	margin-right:20px;
	line-height:normal;	
	font-size:30px;
}
#login .boxed form{
	margin-bottom:20px;	
}
.sign-up input{
	width:236px;	
}
#login {
	background:#fafafa;	
}
.sign-up{
	background:#fff;
	margin:0 auto;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding-bottom:30px;
	
	-webkit-box-shadow:  3px 0px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow:  3px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
#login .sign-up{
	width:450px;	
}
.sign-up footer{
	margin-top:20px;	
}
.sign-up footer a{
	color:#000;
	font-size:12px;
}
.of{
	background:url(../img/layout/of-diag-line.png) center 0 no-repeat;
	width:320px;
	margin:20px auto;
	text-transform:uppercase;
	font-size:14px;
}
.disabled{
	background:#ddd;	
}
.aantal-selector{
	position:relative;
	height:44px;
	width:25px;
	display:block;	
}
.add-button, .remove-button{
	position:absolute;
	top:0;
	display:block;
	height:21px;
	width:25px;
	background:url(../img/layout/button-plus.svg) bottom no-repeat;
	line-height:100;
	overflow:hidden;
	cursor:pointer;
}
.remove-button{
	top:22px;
	background:url(../img/layout/button-min.svg) bottom no-repeat;
}
.add-button:hover, .remove-button:hover{
	background-position:top;	
}


/* ------------------- FRIENDS JOINED ----------------- */
.friends-joined, .invite-friends{
	height:360px;
	position:relative;
}
.friends-joined{
	background:url(../img/bk-blade-account.png) center 50px no-repeat;
	background-size:50% 50%;
}
.reward-list {
	position:absolute;
	bottom:20px;
	left:0;
	width:100%;
}
.reward-list > p{
	margin-left:20px;
}
.friends-joined ul{
	width:560px;
	margin:0 auto 60px;
	list-style:none;
	padding:0;
	text-align:left;
	background:url(../img/layout/friends-joined-line.svg) -580px 12px no-repeat;
}
ul.f1{background-position:-548px 12px;}
ul.f2{background-position:-528px 12px;}
ul.f3{background-position:-508px 12px;}
ul.f4{background-position:-488px 12px;}
ul.f5{background-position:-440px 12px;}
ul.f6{background-position:-415px 12px;}
ul.f7{background-position:-395px 12px;}
ul.f8{background-position:-375px 12px;}
ul.f9{background-position:-355px 12px;}
ul.f10{background-position:-315px 12px;}
ul.f11{background-position:-296px 12px;}
ul.f12{background-position:-289px 12px;}
ul.f13{background-position:-282px 12px;}
ul.f14{background-position:-275px 12px;}
ul.f15{background-position:-268px 12px;}
ul.f16{background-position:-261px 12px;}
ul.f17{background-position:-254px 12px;}
ul.f18{background-position:-247px 12px;}
ul.f19{background-position:-241px 12px;}
ul.f20{background-position:-235px 12px;}
ul.f21{background-position:-229px 12px;}
ul.f22{background-position:-223px 12px;}
ul.f23{background-position:-218px 12px;}
ul.f24{background-position:-212px 12px;}
ul.f25{background-position:-175px 12px;}
ul.f26{background-position:-165px 12px;}
ul.f27{background-position:-161px 12px;}
ul.f28{background-position:-158px 12px;}
ul.f29{background-position:-154px 12px;}
ul.f30{background-position:-150px 12px;}
ul.f31{background-position:-147px 12px;}
ul.f32{background-position:-143px 12px;}
ul.f33{background-position:-139px 12px;}
ul.f34{background-position:-136px 12px;}
ul.f35{background-position:-132px 12px;}
ul.f36{background-position:-129px 12px;}
ul.f37{background-position:-125px 12px;}
ul.f38{background-position:-121px 12px;}
ul.f39{background-position:-118px 12px;}
ul.f40{background-position:-114px 12px;}
ul.f41{background-position:-110px 12px;}
ul.f42{background-position:-107px 12px;}
ul.f43{background-position:-103px 12px;}
ul.f44{background-position:-99px 12px;}
ul.f45{background-position:-96px 12px;}
ul.f46{background-position:-92px 12px;}
ul.f47{background-position:-88px 12px;}
ul.f48{background-position:-84px 12px;}
ul.f49{background-position:-81px 12px;}
ul.f50{background-position:-71px 12px;}
.friends-joined ul li{
	display:inline-block;
	position:relative;
	text-align:center;
	height:32px;
	width:31px;
	padding-left:1px;
	line-height:32px;
	border:2px solid #e6e6e6;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	background:#fff;
	margin-left:90px;
	color:#888;
	font-size:16px;
}
.friends-joined ul li.active{
	border-color:#25c4d3;	
	color:#25c4d3;
}
.friends-joined ul li.first{
	margin-left:0;	
}
.friends-joined ul li .reward{
	position:absolute;
	font-size:12px;
	line-height:normal;
	width:70px;
	top:45px;
	left:50%;
	margin-left:-35px;
	letter-spacing:0.04em;
	color:#000;		
}
#content .invite-friends h2, #content .friends-joined h2{
	font-size:14px;
	font-family:'GTWalsheim', Arial, Helvetica, sans-serif;	
}
#content .invite-friends h3{
	font-size:12px;
	text-transform:uppercase;
	margin-bottom:10px;
}
#content .invite-friends input{
	width:90%;
	font-size:12px;	
}
#content .invite-friends .facebook, #content .invite-friends .facebook a{
	color:#4866a8;
	margin-bottom:20px;
}
#content .invite-friends .twitter, #content .invite-friends .twitter a{
	color:#2aa9e0;
	margin-bottom:20px;
}
/* ------------------- BEDANKT ----------------- */
.bedankt article{
	background:#fff;
	font-size:12px;	
}
.bedankt h1{padding:40px 0 0;}
.bedankt .summary{
	margin-top:0;	
}
/* ------------------- MIJN ACCOUNT ----------------- */
.account p.highlight{
	margin:0 20px;	
}
.account .plan-details h2, .account .account-details h2{
	font-size:20px;
	padding:30px 0 10px;	
}
.account .abonnement{
	margin:0 0 20px;	
}
.account .plan-details .one-third{
	background:#f2f2f2;
	border-radius:3px;
	-webkit-border-radius:3px;
	width:29%;
	padding:0 1.5%;
}
.account .plan-details .one-third{
	min-height:420px;
}
.account .plan-details h3, .account .account-details h3{
	padding:30px 0 10px;
	margin:0;
	font-size:16px;	
}
.account .abonnement h3{
	padding-top:10px;	
}
#content .account-details{
	background:#f2f2f2;
	margin:30px auto;
	width:940px;
	padding:0 20px 40px;
	
	border-radius:3px;
	-webkit-border-radius:3px;
}
.account-details .one-third{
	text-align:left;
	width:28%;
	padding:0 2%;
}
.account-details .one-third p{
	margin-bottom:10px;
	line-height:100%;
}
.account-details .one-third h2 span{
	font-size:12px;	
}
.account-details .button{
	margin:30px auto 0;	
}
.facturen{
	margin:0 auto;
	padding:0;
	list-style:none;
	width:80%;
	margin:0 10% 20px;
}
.facturen li{
	text-align:left;
	padding:5px 0;
	background:url(../img/layout/background-dotted-divider.png) left bottom repeat-x;	
}
.facturen li span{
	float:right;
	font-size:12px;	
}
.lt-ie8 .facturen li{
	position:relative;
}
.lt-ie8 .facturen li span{
	position:absolute;
	right:0;
	bottom:8px;	
}
.account input[type='text'], .account input[type='email'], .account input[type='password']{
	width:216px;	
}
.account input.straat{width:126px;}
.account input.nummer{width:56px;}
.account input.straat{margin-right:10px}
.account .select-box-container{
	width:216px;
	float:left;	
}
.account .framed{
	border:none;
	background:#f2f2f2;	
}
.account .button{
	min-width:190px;	
}
.account #content .friends-joined h2{
	font-size:20px;
}


/* ==========================================================================
   TABS
   ========================================================================== */
ul.tabs{
	margin:0 0 10px;
	padding:0;
	list-style:none;	
}
ul.tabs li{
	float:left;
	margin-right:5px;	
}
ul.tabs li a{
	display:block;
	width:100px;
	padding:10px;
	background:#aaa;
	font-size:12px;
	text-transform:uppercase;
	color:#fff;
	
	-webkit-border-radius:5px;
	border-radius:5px;	
}
ul.tabs li.active a{
	background:#000;
}
/* ==========================================================================
   SWITCH
   ========================================================================== */
.switch-container a{
	font-size:13px;
	height:34px;
	display:inline-block;
	line-height:34px;
	vertical-align:top;
}
.switch-container a.active{
	color:#000;	
}
.switch{
	display:inline-block;
	width:80px;
	height:30px;
	margin:0 10px;
	border:2px solid #000;
	
	-webkit-border-radius:3px;
	border-radius:3px;
	text-align:left;
}
.switch-state{
	display:inline-block;
	background:#333;
	height:26px;
	width:36px;	
	margin:2px;
	-webkit-border-radius:3px;
	border-radius:3px;
	float:left;
}
.switch-state.right{
	float:right;
}
/* ==========================================================================
   FORMS
   ========================================================================== */
input:focus{
	outline:none;
}
input[type='email'], input[type='text'], input[type='password'], textarea{
	border:2px solid #979797;
	height:36px;
	margin:0 0 10px 0;
	font-size:14px;
	
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:0 10px;
	
	font-family:'GTWalsheim', Arial, Helvetica, sans-serif;
	letter-spacing:0.06em;
}
.lt-ie9 input[type='email'], .lt-ie9 input[type='text'], .lt-ie9 input[type='password'], .lt-ie9 textarea{
	line-height:36px;
	letter-spacing:normal;
}
input[type='email'].error, input[type='text'].error, input[type='password'].error, textarea.error{
	border:2px solid #ff0000;
}
form.medium input, form.medium textarea, form.medium div.select-box-container{
	width:276px;
	max-width:276px;
}
form.medium .check-boxes{
	width:300px;
	margin:0 auto 20px;	
}
form.medium input.straat, form.medium input.plaats{
	width:189px;	
}
form.medium input.postcode{
	width:56px;
	margin-right:7px;	
}
textarea{
	padding:10px;
	height:auto;
	resize:vertical;
	min-height:50px;
}
::-webkit-input-placeholder{color:#999;}
:-moz-placeholder{color:#999;}
:-ms-input-placeholder{color:#999;}
.placeholder{color:#aaa;}
input[type='submit']{
	color:#fff;
	background:#FFC469;
	webkit-border-radius:5px;
	border-radius:5px;
	border:none;
	width:auto;
	
	padding:12px 14px 11px;
	vertical-align:top;
	
	
	margin:0 10px;
	font-size:14px;
	text-transform:uppercase;
	font-family:'GTWalsheim', Arial, Helvetica, sans-serif;
	letter-spacing:0.06em;
	display:inline-block;
	border-bottom:2px solid #FFC469;
	
	/*text shadow*/
	text-shadow: 0px 1px 0px #FFC469;
    /*filter: dropshadow(color=#3a9393, offx=0, offy=1);*/
	
	transition:background-color 200ms ease-out 0s;
	-webkit-transition:background-color 200ms ease-out 0s;
	-moz-transition:background-color 200ms ease-out 0s;
	-o-transition:background-color 200ms ease-out 0s;	
	-ms-transition:background-color 200ms ease-out 0s;
	
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-size:content-box;
}
.lt-ie8 input[type='submit']{
	border:none;	
	padding:10px 30px;
}
input[type='submit']:hover{
	color:#fff;
	background:#FFA824;
}
input[type='submit']:active{
	border-bottom: 0;
	border-top: 2px solid #FFA824;
	padding: 12px 30px 11px;
}
input[type=submit].next-to-text{
	padding:10px;
	margin:0;
}
.lt-ie9 input[type=submit].next-to-text{
	padding:10px;
	margin-left:5px;
}
input[type='submit'].wide{
	min-width:200px;
}
.lt-ie9 input.wide{
	min-width:250px;	
}
input[type='submit'].disabled{
	background:#ddd;
	text-shadow: 0px 1px 0px #dadada;
	border-bottom:2px solid #dadada;	
}
form input[type='checkbox'], form.medium input[type='checkbox'], form input[type='radio'], form.medium input[type='radio']{
	width:auto;
}
input[type=checkbox]{
	background:none;
	border:1px solid #ccc;	
}
.lt-ie9 input[type='checkbox']{
	border:none;	
}
select{
	width:100%;
	margin:0 0 10px;
	padding:0;
	list-style:none;
	border:2px solid #979797;
	border-radius:3px;
	-webkit-border-radius:3px;
	overflow:hidden;
	height:36px;
	font-size:14px;	
	letter-spacing:normal;
}
select{
	padding:5px;
	height:30px;
	width:300px;
}
select option{
	padding:10px 10px 8px;
	vertical-align:middle;
	line-height:36px;
	border:none;
	border-bottom:2px solid #ccc;	
}
div.select-box-container{
	margin:0 auto 10px;
	padding:0;
	list-style:none;
	border:2px solid #979797;
	height:36px;
	font-size:14px;	
	letter-spacing:normal;
	position:relative;
	text-align:left;
	line-height:36px;
	padding:0 10px;	
	color:#000;
	background:url(../img/icon-selectbox-open.png) top right no-repeat #fff;
	cursor:pointer;
	border-radius:3px;
	-webkit-border-radius:3px;
}
ul.select-box{
	position:absolute;
	top:36px;
	left:-2px;
	display:none;
	margin:0;
	padding:0;
	background:#fff;
	width:100%;
	border:2px solid #979797;
	border-top:none;
	border-radius:0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	box-shadow:0 2px 3px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,0.1);
}
ul.select-box.up{
	bottom:36px;
	border:2px solid #979797;
	border-bottom:none;
	border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	box-shadow:0 -2px 3px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow:0 -2px 3px 0 rgba(0,0,0,0.1);
}
div.select-box-container.hover{
	background:#f8f8f8;	
}
ul.select-box.open{
	display:block;
}
ul.select-box li{
	padding:0 10px;
	display:block;
	height:36px;
	line-height:36px;
	text-align:left;
	border-top:2px solid #ccc;
	cursor:pointer;
	color:#666;
}
ul.select-box.up li{
	border-top:none;
	border-bottom:2px solid #ccc;
}
ul.select-box li.selected{
	
}
ul.select-box:hover li.selected{
	background:none;	
}
ul.select-box li:hover{
	color:#000;	
}
input[type=radio]{
	margin:0 5px 10px 0;	
}
.radio-box{
	display:inline-block;
	width:12px;
	height:12px;
	border:2px solid #979797;
	border-radius:100%;
	-webkit-border-radius:100%;
	margin-bottom:-3px;
}
.radio-box.selected{
	background:url(../img/layout/radio-button-selected.png) center no-repeat;
}
label.radio{
	margin-bottom:10px;	
}
.input-fixed{
	display: block;
	height: 36px;
	line-height: 36px;
	background: #ddd;
	margin-bottom: 10px;
	border: 2px solid #bbb;
	border-radius: 3px;
	text-align: left;
	padding: 0 10px;
	color: #666;
	font-size: 14px;	
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
body > footer{
	color:#fff;
	text-align:center;
	padding:50px 0 40px;
	position:relative;
}
body > footer .container{
	margin-top:0;	
}
body > footer section{
	min-height:170px;
	float:left;
}
body > footer section h2{
	font-size:12px;
	text-transform:uppercase;
	margin-bottom:40px;
}
body > footer section h2 a{
	color:#fff;
}
.newsletter-success{
	font-size:13px;
	padding:10px 0;
	padding-left:32px;
	background:url(../img/icon-success.png) top left no-repeat;
}
.footer-nav{
	margin:0;
	padding:0;
	list-style:none;
	clear:both;
}
.footer-nav li{
	display:inline;
	margin-bottom:20px;
	text-align:center;
}
.footer-nav li a{
	color:#fff;
	text-transform:uppercase;
	font-size:11px;
	margin:0 20px;	
}
body > footer .logos img{
	margin:70px 10px 0;	
}
/* ==========================================================================
   Dropdown
   ========================================================================== */
.dropdown {
  position: relative;
}
.dropdown-toggle {
  *margin-bottom: -3px;
}
.dropdown-toggle:active, .open .dropdown-toggle {
  outline: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "\2193";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown:hover .caret, .open.dropdown .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #FFA800;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.dropdown-menu.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  
}
.dropdown.open {
  *z-index: 1000;
}
.dropdown.open .dropdown-toggle {
  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.dropdown.open .dropdown-menu {
  display: block;
}

/* ==========================================================================
   Fancybox
   ========================================================================== */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #fff;
	color: #444;
	text-shadow: none;
}
.fancybox-skin .call-to-action{
	position:absolute;
	right:0;
	bottom:0;
	width:250px;
	text-align:center;	
	margin:20px 0 30px;
}
.fancybox-skin .call-to-action .button{
	float:none;	
}
.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../img/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: 0;
	right: -40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 8040;
	background:url('../img/layout/button-close.svg') no-repeat center #000;
}
.no-svg .fancybox-close {
	background:url('../img/layout/button-close.png') no-repeat center #000;
}
.fancybox-nav {
	position: absolute;
	top: 0;png
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../img/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../img/fancybox_overlay.png') rgba(0, 0, 0, 0.8);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index:10000;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	text-shadow: none;
	z-index: 8050;
	
	position:absolute;
	top:0;
	right:0;
	width:190px;
	padding:30px 30px;
	font:18px 'GTWalsheim-Bold', Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	color:#000;	
}
.fancybox-title ul{
	margin:0;
	padding:0 0 0 15px;	
}
.fancybox-title p, .fancybox-title li{
	font:14px 'GTWalsheim', Arial, Helvetica, sans-serif;
	margin-top:20px;
	text-transform:none;	
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1000px) {
body{
	margin:0;	
}
body, nav#main, #content .container, body > header, .product-page .options {
	min-width:320px;
	width:100%;
	padding:0;
}
#content .container{
	width:96%;
	padding:0 2%;	
}
body {
	padding:0;	
}
/* ------------------------------
NAV 
------------------------------ */
nav#main li a{
	padding:0 10px;
	letter-spacing:1.8px;
}
nav#main li, nav#main li a{
	font-size:11px;
}

/* ------------------------------
CONTENT 
------------------------------ */
.one-fourth{
	width:48.5%;
	margin-bottom:3%;
}
.two-fourth{
	width:100%;
	margin-left:0;
}
.one-fourth.third{
	margin-left:0;	
}
.two-third, .two-third.first{
	float:none;
	margin:0 auto;
	width:600px;	
}
.friends-joined{
	height:200px;
	background:none;	
}
.one-third.share{
	float:none;
	margin:20px auto;
	width:600px;	
}
#Thuis .one-fourth{
	margin-bottom:30px;	
}
#Thuis .one-fourth h3{
	margin:0;	
}
.split:before,
.split:after {
    content: " ";
    display: table;
}

.split:after {
    clear: both;
	margin-bottom:20px;
}
.split {
    *zoom: 1;
}
.summary{
	width:80%;	
}
.free-handle{
	width:200px;
	height:50px;
	background-size:100%;
	line-height:67px;
	font-size:10px;
	letter-spacing:0.06em;
	left:50%;
	margin-left:-100px;
}
.no-svg .free-handle{
	height:30px;
	line-height:30px;
	background:#7f7f7f;	
}
/*------ PRICE STRUCTURE */
.price-structure-container{
	margin:0;
}
.price-structure{
	width:auto;
	height:455px;
	background:none;
	margin:0 25px 40px 0;
	padding:0;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	width:auto;
	position:relative;
}
.price-structure.two{
	text-align:center;
	margin-left:26px;	
}

.price-structure li{
	float:none;
	display:block;
	height:50px;
	border:none;
	width:130px;
	padding:0 10px;
	margin:0 0 10px;
	-webkit-border-radius:0;
	border-radius:0;
	text-align:inherit;
	font-size:14px;
}
.price-structure.two li{
	float:none;
}
.price-structure li.first{
	height:90px;
}
.price-structure li span{
	display:inherit;
	vertical-align:middle;
	overflow:hidden;
	text-align:center;
}
.price-structure li.price, .price-structure li.price.finished{
	background:#000;
	color:#fff;
	float:none;
	border:0;
	height:auto;
	width:auto;
	margin:0;
	position:absolute;
	bottom:8px;
	display:block;
	width:140px;
	padding:5px;
	border-radius:3px;
	-webkit-border-radius:3px;
	transition:all 200ms ease-out;
	-webkit-transition:all 200ms ease-out;
	-moz-transition:all 200ms ease-out;
	-o-transition:all 200ms ease-out;
	-ms-transition:all 200ms ease-out;
}
.price-structure.two li.price{
	background:#FFC469;
	color:#fff;
}
.price-structure li.price a{
	display:inherit;
	vertical-align:auto;
	color:#fff;
	text-decoration:none;
	height:auto;
	width:auto;	
}
#content .price-structure li.price a:hover{
	text-decoration:none;
}
.price-structure.two li.price:hover{
	background:#FFA824;
	
}
/*------ IMAGE MATRIX */
.image-matrix{
	margin:0 auto;
	width:740px;
	padding:0;
}
.image-matrix img{
	float:left;
	width:170px;
	height:170px;	
}
.image-matrix .wide img{
	width:360px;
}
.image-matrix .long img{
	height:360px;
}
.image-matrix .title{
	position:absolute;
	color:#fff;
	height:150px;
	width:150px;
}
.image-matrix .wide .title{
	width:340px;	
}
.image-matrix .long .title{
	height:340px;
}
.image-matrix img.first{
	margin-left:0;	
}
.image-matrix .one-half{
	width:360px;
	margin:0 0 0 20px;	
}
.image-matrix .one-half.first{
	margin-left:0;
}
/* ------------------------------
CHECKOUT 
------------------------------ */
.checkout .one-third, .checkout .one-third.first{
	float:none;
	width:390px;
	margin:0 auto 20px;
	padding:0;
}
.checkout .adres-box input{
	width:366px;
	padding:0 10px;
}
.checkout .adres-box input.straat{
	width:235px;
}
.checkout .adres-box input.nummer{
	width:100px;	
}
.checkout .adres-box input.postcode{
	width:100px;
}
.checkout .adres-box input.plaats{
	width:235px;
}
.checkout .coupon-code{
	width:270px;	
}
.checkout .prijs-overzicht {
	width:390px;
	margin-top:0;
}
.checkout .prijs-overzicht .label {
	width:250px;	
}
.checkout .one-third h2 {
	margin:30px 0px 10px;
	
}
#content .account-details {
	padding:20px 0 40px;	
}
.previous-slide, .next-slide{
	top:70px;
}
#couponcode{
	width:170px;
}
}
@media only screen and (max-width: 880px){
#main-nav li.secondary{
	display:none;	
}
.account .one-third{
	float:none;
	margin: 30px auto;
	min-width:320px;
}
.account .one-third, .account .plan-details .one-third{
	min-height:auto;
	padding-bottom:20px;
}
.account .account-details .one-third{
	text-align:center;
	padding-bottom:0;	
}
.account .select-box-container{
	float:none;	
}
.account .account-details h2{
	padding:0;
	margin:0 0 20px;	
}
#change-status-container{
	margin: 20px -2%;	
}
}
@media only screen and (max-width: 850px){
.gift-page .step-o-meter .label{
	display:none;	
}
}
@media only screen and (max-width: 768px) {
/* ------------------------------
CONTENT 
------------------------------ */
.tablet-hide{
	display:none;	
}
#content #het-mes{
	background-size:auto;	
}
.product-page .one-half, .account .one-third{
	float:none;
	margin: 30px auto;
}
.account .highlight{
	margin:0;	
}
.factuur-overzicht{
	display:none;	
}
.account .boxed{
	margin:0;
	padding:0;
	background:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.popup{
	width:70%;
	padding:8% 5% 5%;
	left:50%;
	margin-left:-40%;
}
.popup .close{
	top:5px;
	right:5px;
	width:20px;	
}
.popup.wijzig{
	width: 340px;
	padding:0 0 10px;
	left:0;
	right:0;
	margin:auto;
}
.popup.wijzig .abonnement, .popup.wijzig .abonnement.first{
	margin:0 10px 10px;
	width:240px;
	padding:10px;
}
.popup .options{
	position:relative;
	padding:50px 10px 10px;
}
.popup .options h3{
	font-size:14px;
	margin:0;	
}
.popup .options p{
	margin-bottom:0;	
}
.popup .options .beard, .popup .options .foot-note{
	display:none;	
}
.min-button, .plus-button{
	position:absolute;
	top:0;
	left:60px;
	margin:0;
	width:auto;
	height:40px;
	padding:0 10px;
	line-height:38px;
	font-size:12px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.min-button .label, .plus-button .label{
	display:inline-block;	
}
.plus-button{
	left:175px;	
}
.account .volgende-transacties{
	display:none;	
}
.direct-checkout{
	margin-top:20px;	
}
.bedankt .one-half.first.framed .message{
	bottom:10px;
	font-size:70%;	
}
/*----- ISSUES / SOLUTIONS -----*/
#issues-solutions .one-third{
	display:block;
	width:100%;
	height:200px;
	padding:0;
	margin:0;
	border:none;
	border-top:2px solid #000;
	overflow:visible;
	position:relative;
	background:none;
}
#issues-solutions .one-third .number{
	display:block;
	position:absolute;
	top:-30px;
	left:0;
	height:28px;
	width:26px;
	border:2px solid #000;
	border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;	
	border-bottom:none;
	line-height:26px;
	font-family:'GTWalsheim-Bold', Arial, Helvetica, sans-serif;
}
#issues-solutions .one-third .ring{
	display:none;	
}
#issues-solutions .one-third p{
	width:100%;
	height:auto;
	padding:0;
	/*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	display:table;*/
	display:block;
	margin:0;
	background-image:none;
	background-color:none;
}
#issues-solutions .one-third p span{
	display:block;
	/*vertical-align:middle;*/
}
#issues-solutions .one-third .solution-container{
	display:block;
	margin-top:0;
	transition:none;
	-moz-transition:none;
	-o-transition:none;
	-webkit-transition:none;
	-ms-transition:none;
}
#issues-solutions img{
	display:none;
	vertical-align:auto;
}
#issues-solutions .one-third p.issue{
	color:#000;
	margin:0;
	background:#e5e5e5;
	text-align:center;
	font-family:'GTWalsheim-Bold', Arial, Helvetica, sans-serif;
	position:absolute;
	top:30px;
	height:50px;
	font-size:15px;
}
#issues-solutions .one-third p.solution{
	margin-top:90px;	
}
.info-box p{
	width:200px;
	margin-left:-120px;	
}
.single-checkout .or{
	margin-top:0;	
}
.single-checkout .facebook{
	margin-top:30px;	
}
#couponcode{
	width:150px;
}
}
@media only screen and (max-width: 730px){
#main-nav{
	display:none;
}
#main-nav li.last{
	display:none;	
}
nav#main #secondary-nav{
	float:none;
	padding:0;
	display:inline-block;
	margin:0 auto;
}
nav#main li.home-item{
	display:inline-block;	
}
div.choose-plan-heading{
	width:80%;
	margin-left:-40%;	
}
nav#main li.tel{
	padding:0 10px;
	background:none;
}
.image-matrix{
	width:100%;	
}
.image-matrix .one-half, .image-matrix .one-half.first{
	margin:0 auto;
	float:none;
	min-width:360px;
}
.reassurance{
	display:none;	
}
.fancybox-title{
	display:none;	
}
.home #content #home{
	background:url(../Jamfactory_bestanden/jambanner medium) center bottom no-repeat;
}

/* ------------------------------
SLIDES 
------------------------------ */
.secondary-layer{
	display:none;	
}
.slide-link{
	display:none;	
}
.image-matrix .slide-link{
	display:block;	
}
.slide-control{
	display:none;	
}

body > footer{
	background:#000;	
}
}
/* ==========================================================================
   Media 650px
   ========================================================================== */
@media only screen and (max-width: 650px) {
.one-third, .one-third.first, #contact .one-half, #contact .one-half.first{
	float:none;
	width:80%;
	margin:0 auto 20px;	
}
.left-align, .right-align{
	text-align:center;	
}
.newsletter.one-third input{
	float:none;
}
login .sign-up{
	width:340px;
}
div.choose-plan-heading{
	display:none;	
}
.choose-plan .het-mes{
	display:none;	
}
.step-o-meter .label{
	display:none;	
}
ul.step-o-meter li{
	margin:0;	
}
.bedankt .one-half.first.framed{
	display:none;	
}

.two-third, .two-third.first, .one-third.share{
	width:380px;	
}
#try .container {
	background-size:100%;
	min-height:370px;	
}
.home #content > article#gift {
	background-size:300px 125px;	
}

}
/* ==========================================================================
   Media 420px
   ========================================================================== */

@media only screen and (max-width: 420px) {
.mobile-hide{
	display:none;	
}
body{
	font-size:12px;
}
body.home{
	background:#fff;	
}
body, nav#main, body > header{
	min-width:400px;
	width:100%;
	padding:0;
}
nav#main li a{
	padding:0 10px;	
}
nav#main li.tel{
	padding:0 5px;	
}
#content .container{
	min-width:340px;	
}
.one-half, .one-third, .one-fourth, .one-half.first, .one-third.first, .one-fourth.first, .one-fourth.third{
	float:none;
	width:80%;
	margin:0 auto 20px;
	padding:0;	
}
.button.slide-link{
	display:none;	
}
a.slide-link{
	color:inherit;	
}
a.slide-link:hover{
	color:inherit;
	text-decoration:none;
	cursor:text;	
}
.teller{
	font-size:20px;
	width:auto;
	display:inline-block;	
}
.price-structure li{
	width:100px;
}
.price-structure li.price{
	width:110px;	
}
.home #content #home{
	min-height:400px;
	background:url(../Jamfactory_bestanden/jambanner small) center bottom no-repeat;
}

#home .intro{
	font-size:14px;
	line-height:normal;
	bottom:25px;	
}
#logo img {
	width:200px;
	height:97.5px;
}
#home hgroup {
    padding-top:0;
    margin-bottom:0;
    position: absolute;
    width: 100%;
    bottom: 90px;
}
#home hgroup h1{
	font-size:22px;
	margin:0;
	padding:0;
}
#home hgroup h2{
	font-size:14px;
	margin:-5px 0 10px 0;
	padding:0;
}
#contact .boxed{
	padding-top:20px;
	padding-bottom:20px;	
}
/* ------------------------------
CHECKOUT 
------------------------------ */
#login .sign-up{
	width:360px;	
}
.checkout .one-third, .checkout .one-third.first{
	float:none;
	width:320px;
	margin:0 auto 20px;
	padding:0;
}
.checkout .adres-box input{
	width:296px;
	padding:0 10px;
}
.checkout .adres-box input.straat{
	width:200px;
}
.checkout .adres-box input.nummer{
	width:65px;	
}
.checkout .adres-box input.postcode{
	width:65px;
}
.checkout .adres-box input.plaats{
	width:200px;
}
.checkout .coupon-code{
	width:200px;	
}
.checkout .prijs-overzicht {
	width:320px;
	margin-top:0;
}


/* --------------*/
.faq-list{
	margin-top:50px;
}
.faq-list dt{
	font-size:18px;
	margin-top:10px;
}
/* --------------*/
.account .one-half{
	width:320px;	
}
.account form{
	margin:0;	
}
#our-story .first, #our-story .last {
	display:none;	
}
#Thuis h3{
	margin:30px 0 0;	
}
.the-price, .nl .the-price, .se .the-price{
	margin-left: 0;
	right: 20px;
	left: auto;
	top: 20px;
}
.the-price:hover{
	background-position:0 0;	
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
body > footer{
	background:url(../img/layout/background-secondary-layer@2x.png);
	background-size:183.5px 92px;
}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.first{
	margin-left:0;	
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
    content: " ";
    display: table;
}

.clearfix:after, .container:after {
    clear: both;
}

.clearfix, .container{
    *zoom: 1;
}
.dummy{
	background:#eee;
	height:500px;	
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.output {
	position:fixed;
	z-index:1000;
	background:#333;
	border:1px solid #ccc;
	color:#fff;
	padding:10px;
	bottom:0;
	left:0;	
	display:none;
}
/* ==========================================================================
   Registratie
   ========================================================================== */
.registratie {
	width:400px; 
	margin-right:auto; 
	margin-left:auto; 
}

registratie {
    text-align:left;	
	position:relative;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	padding:0 0 50px;
}

registratie h1,h4{
	text-align:center;	
	position:relative;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	padding-top:40px;
	margin-bottom:30px;
	
}
bodyfoutmelding{
	text-align:center;
}

.plaatje3review{
	margin-bottom:30px;
}

.verwijderen[type="submit"]{
	color:#fff;
	background:red;
	webkit-border-radius:5px;
	border-radius:5px;
	border:none;
	width:auto;
	
	padding:12px 14px 11px;
	vertical-align:top;
	
	
	margin:0 10px;
	font-size:14px;
	text-transform:uppercase;
	font-family:'GTWalsheim', Arial, Helvetica, sans-serif;
	letter-spacing:0.06em;
	display:inline-block;
	border-bottom:2px solid red;
	
	/*text shadow*/
	text-shadow: 0px 1px 0px red;
    /*filter: dropshadow(color=#3a9393, offx=0, offy=1);*/
	
	transition:background-color 200ms ease-out 0s;
	-webkit-transition:background-color 200ms ease-out 0s;
	-moz-transition:background-color 200ms ease-out 0s;
	-o-transition:background-color 200ms ease-out 0s;	
	-ms-transition:background-color 200ms ease-out 0s;
	
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-size:content-box;
}

.verwijderen:hover[type="submit"]{
	color:#fff;
	background:red;
}
.verwijderen:active[type="submit"]{
	border-bottom: 0;
	border-top: 2px solid red;
	padding: 12px 30px 11px;
}

.wijzigen[type="submit"]{
	color:#fff;
	background:#FFC469;
	webkit-border-radius:5px;
	border-radius:5px;
	border:none;
	width:auto;
	
	padding:12px 14px 11px;
	vertical-align:top;
	
	
	margin:0 10px;
	font-size:14px;
	text-transform:uppercase;
	font-family:'GTWalsheim', Arial, Helvetica, sans-serif;
	letter-spacing:0.06em;
	display:inline-block;
	border-bottom:2px solid #FFC469;
	
	/*text shadow*/
	text-shadow: 0px 1px 0px #FFC469;
    /*filter: dropshadow(color=#3a9393, offx=0, offy=1);*/
	
	transition:background-color 200ms ease-out 0s;
	-webkit-transition:background-color 200ms ease-out 0s;
	-moz-transition:background-color 200ms ease-out 0s;
	-o-transition:background-color 200ms ease-out 0s;	
	-ms-transition:background-color 200ms ease-out 0s;
	
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-size:content-box;
}

.wijzigen:hover[type="submit"]{
	color:#fff;
	background:#FFA824;
}
.wijzigen:active[type="submit"]{
	border-bottom: 0;
	border-top: 2px solid #FFA824;
	padding: 12px 30px 11px;
}